
.dashboard__header__text {
  color: #151012;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10vw;
  padding: 10px 30px 10px 0px;
}

#orange__banner {
  position: absolute;
  top: 5%;
  z-index: -100;
  background-color: rgba(255, 107, 53, 1);
  border-radius: 0px 10px 10px 0px;
}
