.header__container {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}


.header__text {
  color: #151012;
  font-size: 25px;
  font-weight: 600;
  margin-left: 10vw;
  padding: 10px 30px 10px 0px;
}

#orange__banner {
  position: absolute;
  top: 5%;
  z-index: -100;
  background-color: rgba(255, 107, 53, 1);
  border-radius: 0px 10px 10px 0px;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  position: absolute;
  top: 5%;
  left: 45%;
}

.dropdown {
  font-size: 20px;
  background-color: lightgrey;
  text-align: center;
  border-radius: 10px;
  width: 10vw;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px transparent solid;
}

.dropdown.open {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px black solid;
}

.dropdown__content {
  background-color: lightgrey;
  font-size: 20px; 
  position: absolute;
  top: 102%;
  width: 95px;
  border-radius: 0 0 10px 10px;
  /* padding-top: 5px; */
  padding-bottom: 10px;
}

.dropdown__item {
  padding-top: 5px;
}


#user__dashboard {
  font-size: 25px;
  font-weight: 600;
  background-color: rgba(247, 236, 224, 1);
  padding: 10px 12vw 10px 30px;
  border-radius: 10px 0px 0px 10px;
  
}






