button:hover {
  cursor: pointer;
}


.header__container {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}


.header__text {
  color: #151012;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10vw;
  padding: 10px 30px 10px 0px;
}

#orange__banner {
  position: absolute;
  top: 5%;
  z-index: -100;
  background-color: rgba(255, 107, 53, 1);
  border-radius: 0px 10px 10px 0px;
}

#orange__banner:hover {
  cursor: pointer;
}

.header__buttons {
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
  align-items: center;
  /* width: 55vw; */
  position: absolute;
  top: 5%;
  right: 2%;
}

.dropdown {
  font-size: 16px;
  border: solid rgba(30, 77, 219, 1) 3px;
  box-sizing: border-box;
  color: #151012;
  text-align: center;
  border-radius: 10px;
  width: 13vw;
  max-width: 100px;
  padding: 7px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  /* border-bottom: 1px transparent solid; */
}

.dropdown:hover {
  cursor: pointer;
}


.dropdown__content {
  /* background-color: rgba(30, 77, 219, 1); */
  border: solid rgba(30, 77, 219, 1) 3px;
  box-sizing: border-box;
  color: #151012;
  font-size: 16px; 
  position: absolute;
  top: 115%;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  width: 13vw;
  max-width: 100px;
}


#user__dashboard {
  font-size: 16px;
  background-color: rgba(247, 236, 224, 1);
  border-radius: 10px;
  padding: 10px ;
}






