.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.topics__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

#sub__header {
  margin-top: 30px;
}

.topic {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 40px;
  background-color: lightgrey;
  width: 510px;
  height: 70px;
  margin-top: 15px;
}