body {
    background-color:#f6fbff;
    color:#151012;
  }

  label {
    font-size: 16px;
    color:#151012;
  }
  
  /* Landing Container - Flexbox Centering */
  .landing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 29vh;
  }

  .landing__content {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .landing__text {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .landing__quote {
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    width: 65vw;
  }

  #mastery {
    font-style: italic;
  }

  .landing__subquote {
    color: #9C8C8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 35vw;
    /* word-wrap: break-word */
  }

  #orange__circle {
    width: 450px;
    height: 450px;
    background-color: rgba(255, 107, 53, 1);
    position:fixed;
    top: 20%;
    right: 8%;
    z-index: -100;
    border-radius: 50%;
  }

  #blue__circle {
    width: 250px;
    height: 250px;
    background-color: rgba(30, 77, 219, 1);
    position:fixed;
    top: 55%;
    right: 10%;
    z-index: -90;
    border-radius: 50%;
  }

  .landing__buttons {
    display: flex;
    gap: 1.5vw;
  }

  .landing__button {
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    padding: 10px 25px;
    font-size: 16px;
  }

  #signup__button {
    background-color: rgba(30, 77, 219, 1);
    color: #f6fbff;
  }

  #login__button {
    background-color: rgba(247, 236, 224, 1);
  }
  
  .signup__modal, 
  .login__modal {
    background-color: #f6fbff;
    position: relative;
  }
  
  .signup__form, 
  .login__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
  }
  
  .signup__input, 
  .login__input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Labels - Bold and Spaced */
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .error-message {
    color: rgba(255, 107, 53, 1);
    position: absolute;
    bottom: 60px;
  }

  .signup__submit,
  .login__submit {
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    padding: 10px 25px;
    font-size: 16px;
  }


  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
  }

  .signup__modal,
  .login__modal {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6fbff;
    height: 60vh;
    width: 65vw;
    z-index: 200;
    border-radius: 20px;
  }

  