.problems__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.progress__container {
  width: 500px;
  height: 20px;
  background-color: lightgrey;
  border-radius: 10px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;  
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__bar {
  height: 20px;
  background-color: #FF6B35;
  transition: width 0.5s;
  border-radius: 10px;
}

.progress__number {
  color: black;
  position: absolute; 
  top: -5px;  
  right: -50px;  
  font-weight: bolder;
  font-size: 25px;
}

.question {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 850px;
}

.answer__choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.answer__choice {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 650px;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: lightgrey;
  cursor: pointer;
  font-size: 30px;
  border: 3px solid transparent
}

.answer__choice span {
  width: 50px; 
  height: 50px;
  background-color: #FF6B35; 
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 15px;
  font-size: 30px;
}

.answer__choice.selected__choice {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.problems__modal {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
}

.correctness__modal {
  margin-left: 25px;
  display: inline;
}

.problems__modal.correct {
  background-color: rgb(61, 163, 61); 
}

.problems__modal.incorrect {
  background-color: rgb(227, 61, 61); 
}

.next__button {
  font-size: 26px;
  font-weight: bolder;
  width: 100px;
  height: 40px;
  margin-right: 25px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.card__face {
  background-color: #FF6B35;
  border-radius: 10px;
  height: 400px;
  width: 800px;
  transition: transform .7s;
  transform-style: preserve-3d;
  position: absolute;
  backface-visibility: hidden;
  bottom: 200px;
}

.card__container.flipped .card__front {
  transform: rotateY(180deg);
}

.card__container.flipped .card__back {
  transform: rotateY(0deg);
}

.card__back {
  transform: rotateY(180deg);
}

#next__card {
  bottom: 100px;
  position: absolute;
  background-color: lightgrey;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.results {
  position: fixed;
  top: 50%; /* moves the top edge of the modal to the middle of the viewport */
  left: 50%; /* same idea, but for horizontal centering */
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 450px;
  width: 600px;
  z-index: 200;
  border-radius: 10px;
}

.user_score {
  width: 525px;
}

#score {
  margin-bottom: 20px;
}

.results__buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

#home__button,
#again__button {
  font-size: 24px;
  font-weight: bolder;
  width: 150px;
  height: 70px;
}



