body {
  background-color:#f6fbff;
  color:#151012;
}

.problems__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress__container {
  width: 500px;
  height: 20px;
  background-color: #e6e8ef;
  border-radius: 10px;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;  
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__bar {
  height: 20px;
  background-color: rgba(255, 107, 53, 1);
  transition: width 0.5s;
  border-radius: 10px;
}

.progress__number {
  color: black;
  position: absolute; 
  top: -3px;  
  right: -50px;  
  font-size: 20px;
}

.problem__title {
  font-size: 30px;
  font-weight: 600;
}

.question {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 750px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer__choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.answer__choice {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 650px;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: #e6e8ef;
  cursor: pointer;
  font-size: 16px;
  border: 3px solid transparent
}

.answer__choice span {
  min-height: 50px;
  min-width: 50px;
  width: 50px; 
  height: 50px;
  color: #f6fbff;
  background-color: rgba(30, 77, 219, 1); 
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 15px;
  font-size: 16px;
}

.answer__choice.selected__choice {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.problems__modal {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
}

.correctness__modal {
  margin-left: 25px;
  display: inline;
}

.problems__modal.correct {
  background-color: #7dd000; 
}

.problems__modal.incorrect {
  background-color: rgb(227, 61, 61); 
}

.next__button {
  border: none;
  border-radius: 10px;
  cursor: pointer; 
  padding: 10px 25px;
  font-size: 16px;
  margin-right: 25px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.card__face {
  background-color: #FF6B35;
  border-radius: 10px;
  height: 400px;
  width: 800px;
  transition: transform .7s;
  transform-style: preserve-3d;
  position: absolute;
  backface-visibility: hidden;
  bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  text-align: center;
}

.card__container.flipped .card__front {
  transform: rotateY(180deg);
}

.card__container.flipped .card__back {
  transform: rotateY(0deg);
}

.card__text {
  width: 700px;
  font-size: 25px;
  /* margin-left: 50px; */
}

.flip__button {
  color: rgba(255, 107, 53, 1);
  background-color: rgba(255, 107, 53, 1);
}

.card__back {
  transform: rotateY(180deg);
}


#next__card {
  bottom: 100px;
  position: absolute;
  background-color: #e6e8ef;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.results {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 450px;
  width: 600px;
  z-index: 200;
  border-radius: 10px;
}

.user_score {
  width: 525px;
}

#score {
  margin-bottom: 20px;
}

.results__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  
}

#home__button,
#again__button {
  border: none;
  border-radius: 10px;
  cursor: pointer; 
  padding: 10px 25px;
  font-size: 16px;
}

#home__button {
  background-color: rgba(30, 77, 219, 1);
  color: #e6e8ef;
}

#again__button {
  background-color: (247, 236, 224, 1);;
  color: #151012;
}



