.results__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.user__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.results__buttons {
  font-size: 26px;
  font-weight: bolder;
  display: flex;
  width: 200px;
  justify-content: space-between
  ;
}
