.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  margin-top: 50px;
}

.welcome__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.language__selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.selection__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.language__choice {
  background-color: red;
  font-size: 30px;
  line-height: 40px;
  background-color: lightgrey;
  width: 250px;
  height: 80px;
  cursor: pointer;
}

.language__options {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#change__language {
  margin-top: 15px;
}
