/* app/javascript/components/Header.css */
.header__container {
  display: flex;
  background-color: #ff663b;
  align-items: center;
  height: 70px;
}

/* app/javascript/components/App.css */
body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
body,
button {
  font-family: "Maven Pro";
  background-color: #EEF4ED;
}
a {
  text-decoration: none;
  color: black;
}
.grid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: minmax(250px, 20%) auto;
  margin: 25px auto;
  width: 90%;
  height: calc(100vh - 145px);
}
.eventList {
  background: #f6f6f6;
  padding: 16px;
}
.eventList h2 {
  font-size: 20px;
  padding: 8px 6px 10px;
}
.eventContainer {
  font-size: 15px;
  line-height: 35px;
}
.eventContainer h2 {
  margin-bottom: 10px;
}
.eventList li:hover,
a.active {
  background: #f8e5ce;
}
.eventList a {
  display: block;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
  padding: 8px 6px 10px;
}
.eventList h2 > a {
  color: #236fff;
  font-size: 15px;
  float: right;
  font-weight: normal;
  border-bottom: none;
  padding: 0px;
}
.eventForm {
  margin-top: 15px;
}
label > strong {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 100px;
  margin-right: 6px;
  font-size: 15px;
}
input,
textarea {
  padding: 2px 0 3px 3px;
  width: 400px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
input[type=checkbox] {
  width: 13px;
}
button[type=submit] {
  background: #f57011;
  border: none;
  padding: 5px 25px 8px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin: 10px 0 0 106px;
}
.errors {
  border: 1px solid red;
  border-radius: 5px;
  margin: 20px 0 35px 0;
  width: 513px;
}
.errors h3 {
  background: red;
  color: white;
  padding: 10px;
  font-size: 15px;
}
.errors ul li {
  list-style-type: none;
  margin: 0;
  padding: 8px 0 8px 10px;
  border-top: solid 1px pink;
  font-size: 12px;
  font-weight: 0.9;
}
button.delete {
  background: none !important;
  border: none;
  padding: 0 !important;
  margin-left: 10px;
  cursor: pointer;
  color: #236fff;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}
button.delete:hover {
  text-decoration: underline;
}
h2 a {
  color: #236fff;
  font-size: 15px;
  font-weight: normal;
  margin: 3px 12px 0 12px;
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
}
.form-actions a {
  color: #236fff;
  font-size: 15px;
  margin: 3px 12px 0 12px;
  text-decoration: none;
}
.form-actions a:hover {
  text-decoration: underline;
}
input.search {
  width: 92%;
  margin: 15px 2px;
  padding: 4px 0 6px 6px;
}
.loading {
  height: calc(100vh - 60px);
  display: grid;
  justify-content: center;
  align-content: center;
}

/* app/javascript/components/HomePage.css */
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.topics__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
#sub__header {
  margin-top: 30px;
}
.topic {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 40px;
  background-color: lightgrey;
  width: 510px;
  height: 80px;
  margin-top: 15px;
  cursor: pointer;
}
button {
  border: none;
  border-radius: 10px;
}
.home__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 450px;
  width: 600px;
  z-index: 200;
  border-radius: 10px;
}
.review__methods {
  display: flex;
  justify-content: space-between;
  width: 525px;
}
.method {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bolder;
  width: 250px;
  height: 70px;
}
#back__button {
  background-color: transparent;
}

/* app/javascript/components/Problems.css */
.problems__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress__container {
  width: 500px;
  height: 20px;
  background-color: lightgrey;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 70px;
}
.progress__bar {
  height: 20px;
  background-color: #FF6B35;
  transition: width 0.5s;
}
.question {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 850px;
}
.answer__choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.answer__choice {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 650px;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: lightgrey;
  cursor: pointer;
  font-size: 30px;
  border: 3px solid transparent;
}
.answer__choice span {
  width: 50px;
  height: 50px;
  background-color: #FF6B35;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 15px;
  font-size: 30px;
}
.answer__choice.selected__choice {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
.problems__modal {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
}
.correctness__modal {
  margin-left: 25px;
  display: inline;
}
.problems__modal.correct {
  background-color: rgb(61, 163, 61);
}
.problems__modal.incorrect {
  background-color: rgb(227, 61, 61);
}
.next__button {
  font-size: 26px;
  font-weight: bolder;
  width: 100px;
  height: 40px;
  margin-right: 25px;
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.results {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 450px;
  width: 600px;
  z-index: 200;
  border-radius: 10px;
}
.user_score {
  width: 525px;
}
#score {
  margin-bottom: 20px;
}
.results__buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
#home__button,
#again__button {
  font-size: 24px;
  font-weight: bolder;
  width: 150px;
  height: 70px;
}
